/* .App {
  display: flex;
  flex-wrap: wrap;
  width: 100%
} */

.App {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin: 10px;
  margin-bottom: 30px;
  height: 100%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header {
  display: flex;
  justify-content: space-around;;
  margin-top: 15px
}
.bottom {
  margin: 0 50%;
}

.shipment {
  width: 100%;
    border: 2px solid #ccc;
    padding: 4px;
    box-shadow: 6px 4px 5px 0px rgba(232,216,223,0.95)
}
.item {
  color:#d80d0d
}
.details {
  margin: 25px;
  width: 58%;
  margin: 25px auto;
  box-shadow: 6px 4px 5px 0px rgba(232,216,223,0.95);
  border: 1px solid #ccc;
  padding: 0 86px;
}
.details span {
  font-size: 22px;
  margin-bottom: 2px;
}
.details input {
  width: 35%;
    margin: 10px;
}

.cargo {
  color: #fff;
  background-color: #007bff;
  padding: 10px;
}
.cargo-items {
  display: flex;
  margin: 14px;
}
.cargo-item {
  margin: 6px 41px;
  background-color: #8e8c8b;
  padding: 19px;
  border-radius: 10px;
}
